---

apiVersion: v1
baseDomain: "{{ install_config.domain_name }}"
metadata:
  name: "{{ install_config.cluster_name }}"
networking:
  networkType: OpenShiftSDN
  clusterNetwork:
    - cidr: {{ install_config.network.cluster_network.cidr }}
      hostPrefix: {{ install_config.network.cluster_network.prefix }}
  serviceNetwork: [{{ install_config.network.service_network | join(',') }}]
compute:
  - name: worker
    replicas: 0
controlPlane:
  name: master
  replicas: 1
platform:
  none: {}
bootstrapInPlace:
  installationDisk: {{ install_config.installation_disk }}
pullSecret: >
  {{ install_config.openshift_pull_secret | indent }}
sshKey: "{{ install_config.pub_key_contents }}"
